
# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Package files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Temp files
*.DS_Store
*.mtj.tmp

#Build
*.properties
/GWM/nbproject/project.properties
/Gwm/nbproject/project.properties
/Gwm/nbproject/private/private.properties
/Gwm/Gwm-ejb/nbproject/private/private.properties

# User-defined
/GWM/build/
/GWM/dist/
/GWM/nbproject/private/

/GWM/GWM-ejb/build/
/GWM/GWM-ejb/dist/
/GWM/GWM-ejb/nbproject/private/
/GWM/Gwm-war/nbproject/private/
/GWM/Gwm-war/build/
/GWM/Gwm-war/dist/
/Gwm/Gwm-war/nbproject/private/
/Gwm/build/
/Gwm/dist/
/Gwm/Gwm-ejb/dist/
/Gwm/Gwm-war/dist/
/Gwm/Gwm-war/build/
